body {
  background-color: #333333;
  display: block;
  height: fit-content;
}

.col-md-4 {
  display: flex;
}

.container-fluid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  min-height: 100%;
  min-height: 75vh;
}

.card {
  border-radius: 2rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  width: 651px;
  height: 100%;
  font-size: small;
  margin-left: 2px;
}

::placeholder {
  font-size: small;
}

h1 {
  font-weight: 600;
}

label,
p {
  color: #444444;
}

input[type=text] {
  background-color: #F2F2F2;
  height: 2rem;
}

input[type=email] {
  background-color: #F2F2F2;
  height: 2rem;
}

input[type=password] {
  background-color: #F2F2F2;
  height: 2rem;
}

input[type=checkbox] {
  height: 1.2rem;
  width: 1.2rem;
}

.custom-select {
  background: #F2F2F2;
  height: 2rem;
  font-size: small;
}

select:selected {
  font-size: small;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__button {
  background-color: #FF1D58;
  color: white;
  width: 25rem;
  align-content: center;
}

.terms,
.login {
  color: #FF1D58;
}

.powered {
  color: #B1B1B1;
}

.hng {
  color: white;
}